<%- include("header") -%>




    <main class="main">

        <!-- breadcrumb -->
        <div class="site-breadcrumb" style="background: url(imgs/breadcrumb/aboutTitle2.png)">
            <div class="container">
                <div>
                    <span class="about-title">About</span>
                </div>
                <div>
                    <h2 class="about-title2">The Mixed Pot</h2>
                </div>
            </div>
        </div>
        <!-- breadcrumb end -->


        <!-- blog single area -->
        <div class="blog-single-area pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="blog-single-wrapper">
                            <div class="blog-single-content">
                                <div class="blog-thumb-img text-center">
                                    <img src="imgs/blog/img9.png" style="width: 500px;" alt="thumb">
                                </div>
                                <div class="blog-info">
                                    <div class="blog-details">
                                        <div class="blog-details-title mb-05 text-center"><h2>From Jamaica</h2></div>
                                        <div class="text-center mb-05"><h2>To</h2></div>
                                        <div class="text-center mb-20"><h2>The World</h2></div>
                                        <p class="mb-10">
                                            In January of 2021 The idea for The Mixed Pot LLC was born in the rolling hills of Jamaica ; Santa Cruz to be exact .
                                            As I visited my home and reflected on the hard work the farmers do daily I felt a desire to share our stories through our food. 
                                            I didn't know what else to do so I picked up my phone and started filming. I bought live stock of chicken, and goats. 
                                            I also hit the roads to buy communal size pots and pans to cook for the neighborhood. Family and friends gathered around to help and eat. 
                                            I put my Granny's teaching into action and the seasonings started to flow across Chicken to fry. The curry goat pot started to bubble. 
                                            What a peaceful feeling to spread love though the work of your food! People came together, laughing as we worked and enjoying our vibe. 
                                            I knew what needed to happen next. 
                                        </p>
                                        <p class="mb-10">
                                            Back in America the first thing I did was start putting The Mixed Pot into a business concept and idea while allowing me to stay true to my vision of feeding the community with love. 
                                            To bring various cuisines and cultures I've picked up through the years to peoples homes.. Spreading spice and comfort is what we are all about.  
                                            Being a Jamerican (1/2 Jamaican 1/2 American) gives me a unique approach to food. My maternal Grandmother taught me Appalachian cooking of West Virginia. 
                                            Humble fare , and the right amount of know how can turn many things into a delicious dish! How about some fried potatoes and onion seasoned to perfection. 
                                            NO! Not home fries this here is REAL food. While we all love our treats. Plus the love and flavor that goes into American southern cuisine is unmatched. 
                                            I love my people enough to know that it's not always the healthiest. 
                                        </p>
				
										<p class="mb-20">
											We strive to give our people fresh, options while having comfort foods with less guilt available. 
                                            No ma'am your yams don't need all of that white processed sugar. No sir your potato salad does not need sugar nor a ton of sweet relish. 
                                            I promise flavor does not have to be sacrificed for an amazing meal with healthier recipes. Let us show you! Now Let's talk about our African fare. 
                                            We cater to our lover of west African cuisine with dishes such as Egusi, peanutbutter, and okra soup! Full of meat spice, palm oil and unmatched richness. 
                                            Paired with our fufu your taste buds pop! That's not all. 
										</p>

                                        <p class="mb-20">
											As you learn about food and culture you learn to live and treat these these dishes with the history and respect they deserve. 
                                            That's why you can find Italian, Asian, Spanish and more on our menus. 
                                            No matter if you are ordering a platter of comfort cuisine from a country of your choice or munching down on some good ole American junk food and a fusion Mixed Pot specialty; 
                                            it's going to be fresh and from a kitchen of love. That our promise here at The Mixed Pot LLC. 
                                            We can't wait to feed you and your loved ones, company, religious center , it doesn't matter. 
                                            Miss P listens to customers and enjoys the smiles that are shared over great food made with love. 
                                            Which is why we don't break pockets we wake up taste buds! Reach out to us today for more information. 
                                            Thank you for taking the time to read the conception of The Mixed Pot LLC by founder Miss P. 
										</p>
                                        <hr>
                                    </div>

                                    

                                </div>

                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- blog single area end -->    


    </main>

    <%- include("footer") -%>