<%- include("header") -%>




    <main class="main">

        <!-- breadcrumb -->
        <div class="site-breadcrumb" style="background: url(imgs/breadcrumb/img2.png)">
            <div class="container">
                <div>
                    <p class="about-title" style="text-decoration: underline; text-decoration-thickness: 6px;">
                        Ceaser Avocado 
                    </p>
                    <p class="about-title" style="text-decoration: underline; text-decoration-thickness: 6px;">
                        Pasta Salad
                    </p>
                </div>
            </div>
        </div>
        <!-- breadcrumb end -->


        <!-- blog single area -->
        <div class="blog-single-area pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="blog-single-wrapper">
                            <div class="blog-single-content">
                                <div class="blog-thumb-img text-center">
                                    <img src="imgs/blog/img8.png" style="width: 500px;"  alt="thumb">
                                </div>
                                <div class="blog-info">
                                    <div class="blog-details text-center">
                                        <div><h3 class="blog-details-title mb-05">The Mixed Pot</h3></div>
                                        <div><h3 class="blog-details-title mb-20">Ceaser Avocado Pasta Salad </h3></div>
                                        <p class="mb-10">
                                            The Mixed Pot’s Ceaser avocado pasta salad was created by founder Miss P who wanted to create a new dish. Particularly for people who are looking for something new, something bright ,something fresh.  To set an example in the community that something that taste good doesn’t necessarily have to be loaded down with carbs, sugars and unnecessary ingredients. In this dish you’ll find An explosion of creamy and peppery Caesar and avocado in house blended dressing  perfectly coated over spaghetti pasta. Accouterments to the salad include heirloom cherry tomatoes red onion sliced avocado fresh herbs an array and a fresh herbs & spices. Perfect for our vegetarian friends.  For those who would like to add a protein option MissP suggests our blackened salmon. You can take your pick and top it with any protein and it’s the perfect meal.
                                         </p>
                                        <hr>
                                    </div>

                                    

                                </div>

                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- blog single area end -->    


    </main>

    <%- include("footer") -%>