<%- include("header") -%>




    <main class="main">

        <!-- breadcrumb -->
        <div class="site-breadcrumb" style="background: url(imgs/breadcrumb/aboutTitle2.png)">
            <div class="container">
                <div>
                    <span class="about-title" style="text-decoration: underline; text-decoration-thickness: 6px;">Catering Services</span>
                </div>
            </div>
        </div>
        <!-- breadcrumb end -->


        <!-- blog single area -->
        <div class="blog-single-area pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="blog-single-wrapper">
                            <div class="blog-single-content">
                                <div class="blog-thumb-img text-center">
                                    <img src="imgs/blog/img7.png" style="width: 500px" alt="thumb">
                                </div>
                                <div class="blog-info">
                                    <div class="blog-details">
                                        <h3 class="blog-details-title mb-20 text-center">World Class Catering</h3>
                                        <p class="mb-10">
                                            The Mixed Pot service is priced so comfortably with high quality , great quantity and fresh ingredients due to our dedication of sourcing locally and ethically. Our focus and dedication is to serve the community with service and flavor for days and days. With that being said at this time we deliver your order however we do not provide serving service or equipment. We are the flavor supplier.
                                        </p>
                                        <p class="mb-10">
                                            *** Catering conditions***
                                            All catering orders must be placed 20 calendar days prior to order expected production date. Any order placed in a shorter turnaround date will have a 20% Rush order rate. 
                                        </p>
				
										<p class="mb-20">
                                            **** Ordering Tips from Miss P****


                                            1-We aim to save you time and energy with fabulous and delicious full pans to comfortably feed your number of guests at any kind of event from corporate to any Holiday. We would like to do this the same generous hospitable way we feed everyone. so please consider your guest when ordering to ensure everyone is comfortable and enjoys their food. 
                                            
										</p>
                                        
                                        <p class="mb-20">
											2- Consider the types of guest you are having and the amount of comfort plates or hand foods you would like. If Vegans are there would they be able to comfortably eat well?
                                            Example -would you like fresh salads and or charcuterie to start followed by a meal and whole desserts going all out? Would you like trays of fresh assorted bites for a showing that’s quick easy and simple? Would you like to host a hassle free large meal for loved ones at your home? your place of worship having an event ? We have you covered.
										</p>

                                        <p class="mb-20">
                                            3-Consider event space and themes such as Art Gallery or an open showcasing where people are standing and moving with small plates opposed to a catered family and friends gathering with tables and chairs. *Don’t forget children friendly options if needed.*
                                        </p>

                                        <p class="mb-20">
                                            4-We aim for a great experience while keeping top notch integrity within The Mixed Pot so we won’t attempt to oversell you. Remember you are not going to please everyone. If your budget calls for everyone to have a plate of curry goat ,white rice, and salad or a nice lay of top notch small bites that’s just what it is. They will be full of food and flavor. 
                                        </p>

                                        <p class="mb-20">
                                            -5 Miss P is flexible to an extent and understands that every event may call for specific want and or needs. We do cater to everyone by providing tips like mixing and matching meals from different sections. For example a 1/2 tray of sweet and sour Jumbo shrimp with a pan of salad and steamed jasmine rice can do the trick. Just order without the stix.
                                        </p>

                                        <p class="mb-20">
                                            ALL CATERING ORDERS COME BY 1/2 PAN -FULL PAN -OR PLATTER
                                                Deposit is 50% to be reserved on calendar.
                                                *** BALANCE MUST BE PAID TO RECEIVE ORDER 
                                                ***ALL DEPOSITS ARE          NONREFUNDABLE
                                        </p>
                                        <hr>
                                    </div>

                                    

                                </div>

                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- blog single area end -->    


    </main>

    <%- include("footer") -%>