<%- include("header") -%>




    <main class="main">

        <!-- breadcrumb -->
        <div class="site-breadcrumb" style="background: url(imgs/breadcrumb/img3.png)">
            <div class="container">
                <div>
                    <span class="about-title" style="text-decoration: underline; text-decoration-thickness: 6px;">Our World Class Southern Catfish</span>
                </div>
            </div>
        </div>
        <!-- breadcrumb end -->


        <!-- blog single area -->
        <div class="blog-single-area pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="blog-single-wrapper">
                            <div class="blog-single-content">
                                <div class="blog-thumb-img text-center">
                                    <img  src="imgs/blog/img6Lg.png" style="width: 500px;"  alt="thumb">
                                </div>
                                <div class="blog-info">
                                    <div class="blog-details">
                                        <h3 class="blog-details-title mb-05 text-center">Southern Catfish (True American Southern style)</h3>
                                        <p class="mb-10">
                                            Here in the United States there’s been a silent war going on. As in common, Southern roots and traditions of the way we eat are being changed in the food industry. In the south a fish fry is always a big day and you get together and have fish and sides with the local families and friends. In New Jersey I can recall growing up waiting for what we call “Fish Friday” to come around. We would have whitings, porgies ,catfish and others. We ate them with bread & hot sauce as sandwiches. We ate them as meals with a garden salad or potato salad, rice and beans ,macaroni and cheese and a number of sides. No matter what, one thing always remained the same.
                                            The fish was always fried in smokin hot oil coated in seasoned corn meal. Nope! Not Panko crumbs, not a flour blend, not batter with seasoning that’s right cornmeal. There’s absolutely nothing that can replace that texture, that special grainy crunch, that Southern flavor or the culture when eating a nice piece of delicate catfish made the right way. Let us remind you. Box fish fry won’t cut it. This here truth dashed with a little hot sauce, tartar or on its own. Makes the best sandwich. Makes the best plate with cool potato salad or whatever you want. Our promise is that it will be true American southern fare at its best. No fusion in this item!
                                         </p>
                                        <hr>
                                    </div>

                                    

                                </div>

                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- blog single area end -->    


    </main>

    <%- include("footer") -%>