<!--css img gallery-->
<div class="row pt-120">
    <div class="col-lg-6 mx-auto">
        <div class="site-heading text-center">
            <span class="site-title-tagline">Specialty Dishes</span>
        </div>
    </div>
</div>
<div class="gallery">
    <div class="gallery__column">
            <figure class="gallery__thumb gallery__link">
                <img id="myImg1" src="imgs/gallery/gallery-1-1lg.jpg" class="gallery__image" alt="Hello">
                <figcaption class="gallery__caption">Southern Cat Fish</figcaption>
                <!-- The Modal -->
                    <div id="myModal1" class="modal">

                <!-- The Close Button -->
                 <span class="close close1">&times;</span>

                <!-- Modal Content (The Image) -->
                <img class="modal-content mt-3" id="img01">
                

                <!-- Modal Caption (Image Text) -->
                <div id="caption">
                 </div>
            </figure>

            <!--Remove myImg2 Section-->
        
            <figure class="gallery__thumb gallery__link">
                <img id="myImg2" src="imgs/gallery/gallery-2-1lg.jpg" class="gallery__image">
                <figcaption class="gallery__caption">Linda's Banana Crunch Pudding</figcaption>
                <!-- The Modal -->
                <div id="myModal2" class="modal">

                    <!-- The Close Button -->
                     <span class="close close2">&times;</span>
    
                    <!-- Modal Content (The Image) -->
                    <img class="modal-content" id="img02">
    
    
                    <!-- Modal Caption (Image Text) -->
                    <div id="caption">
                        <figcaption><p class="text-center h2">Linda's Banana Crunch Pudding</p>
    
                            <p>Linda’s banana crunch pudding Is The Mixed Pot’s take on a classic banana pudding. Layered with lightly flavored whip cream, Thick and luscious banana flavored pudding, And a secret blend of Miss P’s cookie mix (of course Nilla wafers included can’t disrespect the game) we promise you won’t be disappointed! You’ve had banana pudding before but this banana crunch pudding is layer after layer of velvety perfection. Definitely a dish that calls to eat return and repeat. Try it in a single serve or get a pan to share and make everyone’s day!</p>
                        </figcaption>
                     </div>
            </figure>

            <figure class="gallery__thumb gallery__link">
                <img id="myImg7" src="imgs/gallery/gallery-7-1lg.jpg" class="gallery__image">
                <figcaption class="gallery__caption">Banana Bread</figcaption>
                <!-- The Modal -->
                    <div id="myModal7" class="modal">

                <!-- The Close Button -->
                 <span class="close close7">&times;</span>

                <!-- Modal Content (The Image) -->
                <img class="modal-content" id="img07">


                <!-- Modal Caption (Image Text) -->
                <div id="caption">
                    <figcaption><p class="text-center h2">The Mixed Pot Banana Bread ( with pecans, coconut,and dates)</p>

                        <p>The Mixed Pot is The most moist and hearty banana bread you will ever come across. You probably will want to refer to it as cake after you taste it. Filled with goodies such as sweetened ripe bananas ,dates ,pecans ,coconut,and earthy spices packed full of flavor.  Surprisingly you won’t have the guilt of overdoing it with a heavy sugary dessert. Sold by the slice or by the loaf this is perfect for breakfast, teatime, a snack or a treat or just to have in the house whenever you’re ready to grab. This particular item is also great for Unique gifting and showing someone that you appreciate them or are thinking of them without breaking your bank. Send a loaf and keep one for yourself!</p>
                    </figcaption>
                 </div>
            </figure>
    </div>

    <div class="gallery__column">
        <figure class="gallery__thumb gallery__link">
            <img id="myImg3" src="imgs/gallery/gallery-4-1lg.jpg" class="gallery__image">
            <figcaption class="gallery__caption">Ceaser Avocado Pasta Salad</figcaption>
            <!-- The Modal -->
                <div id="myModal3" class="modal">

            <!-- The Close Button -->
             <span class="close close3">&times;</span>

            <!-- Modal Content (The Image) -->
            <img class="modal-content" id="img03">
                
            <!-- Modal Caption (Image Text) -->
            <div id="caption">
                <figcaption><p class="text-center h2">The Mixed Pot Ceaser Avocado Pasta Salad</p>

                    <p>The Mixed Pot’s Ceaser avocado pasta salad was created by founder Miss P who wanted to create a new dish. Particularly for people who are looking for something new, something bright ,something fresh.  To set an example in the community that something that taste good doesn’t necessarily have to be loaded down with carbs, sugars and unnecessary ingredients. In this dish you’ll find An explosion of creamy and peppery Caesar and avocado in house blended dressing  perfectly coated over spaghetti pasta. Accouterments to the salad include heirloom cherry tomatoes red onion sliced avocado fresh herbs an array and a fresh herbs & spices. Perfect for our vegetarian friends.  For those who would like to add a protein option MissP suggests our blackened salmon. You can take your pick and top it with any protein and it’s the perfect meal.</p>
                </figcaption>
             </div>
        </figure>

            <figure class="gallery__thumb gallery__link">
                <img id="myImg4" src="imgs/gallery/gallery-3-1lg.jpg" class="gallery__image">
                <figcaption class="gallery__caption">Zaynab’s Jamaican Oxtail</figcaption>
                <!-- The Modal -->
                    <div id="myModal4" class="modal">

                <!-- The Close Button -->
                 <span class="close close4">&times;</span>

                <!-- Modal Content (The Image) -->
                <img class="modal-content" id="img04">
                

                <!-- Modal Caption (Image Text) -->
                <div id="caption">
                    <figcaption ><p class="text-center h2">Zaynab’s Jamaican Oxtail</p>

                        <p>Zaynab’s Jamaican oxtail Is a well known dish worldwide. One of the particular reasons why this dish is so unique is the allspice or what we in Jamaica call pimento seed. At one point Jamaica was the only place in the world where pimento seed grew. Oxtail being a delicious cut of beef braised with spices such as Tyme, Bayleaf, peppercorns ,allspice and more. Start the pot off right. Aromatics like onion garlic scotch bonnet pepper tomato and others go in the pot as well. Just like with everything else technique is key Zaynab’s Jamaican oxtail here at the mix pot is unique because we stick to our authenticity. You will not receive a platter or pan of oxtail that does not contain butter beans. The oxtails have been perfectly seared down to perfection then slowly cooked down in the sauce that has become darker ,thicker, sticky on the lips, umami and gives loads of gravy flavor to whatever side you choose to pair it with. </p>
                    </figcaption>
                 </div>
            </figure>

            <figure class="gallery__thumb gallery__link">
                <img id="myImg8" src="imgs/gallery/gallery-8-1lg.jpg" class="gallery__image">
                <figcaption class="gallery__caption">Ozaka’s Egusi Soup</figcaption>
                <!-- The Modal -->
                    <div id="myModal8" class="modal">

                <!-- The Close Button -->
                 <span class="close close8">&times;</span>

                <!-- Modal Content (The Image) -->
                <img class="modal-content" id="img08">

                <!-- Modal Caption (Image Text) -->
                <div id="caption">
                    <figcaption><p class="text-center h2">Ozaka’s Egusi Soup</p>

                        <p>Ozaka’s Egusi soup - Is one of Nigeria’s premier dishes. Full of richness and a depth of flavored ingredients. Miss P being a descendent of Nigeria herself had no problem picking up the mantle and learning this recipe when she married her Nigerian husband. In the soup there are not only top quality ingredients that are necessary such as dried fish ,the correct peppers ,and the correct proteins that you would like to add to your pot. Palm oil and the technique that you use to add layers of flavors are crucial and key. The prominent ingredient in this soup is Egusi seed which are derived from a melon. Flavors like hints of tomato ,herbs ,palm oil, dried fish and other fresh aromatics that are added to the pot.  Make this bowl truly unique. Miss P has mastered this technique along with the skills of crossing various flavors to come up with the most delicious authentic recipe for this soup. We stand proudly behind the fact that when you get a order of soup from us you will not be getting light soup with bits of Egusi. You will be receiving a nice plentiful dish of a soup that would leave you full and ready for more the next day.</p>
                    </figcaption>
                 </div>
            </figure>
    </div>
    
    <div class="gallery__column">
        <figure class="gallery__thumb gallery__link">
            <img id="myImg5" src="imgs/gallery/gallery-5-1lg.jpg" class="gallery__image">
            <figcaption class="gallery__caption">Bonnie's Honey Butter Cornbread</figcaption>
            <!-- The Modal -->
                <div id="myModal5" class="modal">

            <!-- The Close Button -->
             <span class="close close5">&times;</span>

            <!-- Modal Content (The Image) -->
            <img class="modal-content" id="img05">

            <!-- Modal Caption (Image Text) -->
            <div id="caption">
                <figcaption><p class="text-center h2">Bonnie's Honey Butter Cornbread</p>
                    <p>No Caption Needed</p>
                </figcaption>
             </div>
        </figure>
        <!--Add Description For Roasted Butter Herb Lemon Salmon-->
        <figure class="gallery__thumb gallery__link">
            <img id="myImg6" src="imgs/gallery/gallery-6-1lg.jpg" class="gallery__image">
            <figcaption class="gallery__caption">Roasted Butter Herb Lemon Salmon</figcaption>
                    <!-- The Modal -->
                <div id="myModal6" class="modal">

                    <!-- The Close Button -->
                    <span class="close close6">&times;</span>

                    <!-- Modal Content (The Image) -->
                    <img class="modal-content" id="img06">

                    <!-- Modal Caption (Image Text) -->
                    <div id="caption">
                        <figcaption><p class="text-center h2">Roasted Butter Herb Lemon Salmon</p>

                            <p>Everyone loves a great piece of salmon. We are no exception to the rule. Our traditional and most classic variation of salmon comes in a broiled in a boatload of flavor. Seasoned with herbs like fresh rosemary, thyme, and dill. Then cooked in olive oil butter with combination of seasonings that can’t be topped and a loving hand. Put it on the top of the salad for a light dish or add some hearty sides either way this power packed filet won’t let you down.</p>
                        </figcaption>
                    </div>
                </div>
        </figure>

        <figure class="gallery__thumb gallery__link">
            <img id="myImg9" src="imgs/gallery/gallery-9-1lg.jpg" class="gallery__image">
            <figcaption class="gallery__caption">Miss P's Macoroni & Cheese</figcaption>
                    <!-- The Modal -->
                <div id="myModal9" class="modal">

                    <!-- The Close Button -->
                    <span class="close close9">&times;</span>

                    <!-- Modal Content (The Image) -->
                    <img class="modal-content" id="img09">

                    <!-- Modal Caption (Image Text) -->
                    <div id="caption">
                        <figcaption><p class="text-center h2">Miss P's Macoroni & Cheese</p>

                            <p>Miss P’s Macaroni and cheese Is what you think of when you remember your favorite aunties macaroni and cheese your grandma’s macaroni and cheese with that cousin that really throw down macaroni and cheese. We don’t look for cheese pulls here because cheese pulls don’t translate to taste buds. Nor does it mean top notch quality ingredients or technique was used in making the product. Honey when you taste Miss P’s macaroni and cheese you will understand why this section doesn’t have a decadent description because you had it before and you loved it. Miss P is just bringing it back.!</p>
                        </figcaption>
                    </div>
                </div>
        </figure>

        <!--Add Description For sweet Potato cheesecake description-->
        <figure class="gallery__thumb gallery__link">
            <img id="myImg10" src="imgs/gallery/gallery-10-1lg.jpg" class="gallery__image">
            <figcaption class="gallery__caption">Sweet Potato Cheese Cake</figcaption>
                    <!-- The Modal -->
                <div id="myModal10" class="modal">

                    <!-- The Close Button -->
                    <span class="close close10">&times;</span>

                    <!-- Modal Content (The Image) -->
                    <img class="modal-content" id="img10">

                    <!-- Modal Caption (Image Text) -->
                    <div id="caption">
                        <figcaption><p class="text-center h2">Sweet Potato Cheese Cake</p>

                            <p>Sweet Potato pie has been a long-standing tradition of southern American history when it comes to the most famous of our deserts. Served up with the unexpected twist of creamy and tangy New York style cheesecake, and a shortbread crust this Mixed Pot combination is sure to be one you store in your flavor memory bank for a long time to come.</p>
                        </figcaption>
                    </div>
                </div>
        </figure>
    </div>
</div>

<!--css img gallery end-->