 <!-- footer area -->
 <footer class="footer-area">
    <div class="footer-widget">
        <div class="container footer-container">
            <div class="row footer-widget-wrapper pt-100">
                <div class="col-md-6 col-lg-4">
                    <div class="footer-widget-box about-us">
                        <a href="/" class="footer-logo">
                            <img src="imgs/logo/logo_mixedPot_vector.png" alt="">
                        </a>
                        <ul class="footer-social">
                            <li class="ms-3"><a href="https://www.facebook.com/Themixedpotllc"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://www.instagram.com/official_themixedpot"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://twitter.com/themixedpotllc"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://wa.me/13478809223"><i class="fab fa-whatsapp"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-mPrep-content-wrapper d-flex flex-wrap justify-content-center col-md-6 col-lg-4">
                    <div>
                        <p class="footer-mPrep-content">For Meal Prep Services Please Contact By Phone: &nbsp;</p>
                        <p class="footer-mPrep-content-item">
                        <a class="link-hover mPrep-contact footer-mPrep-contact" href="tel:347-880-9223">(347)-880-9223</a>
                        </p>
                    </div>
                <div>
                    <div class="footer-widget-box list">
                        <h4 class="footer-widget-title">Quick Links</h4>
                        <ul class="footer-list">
                            <li><a href="/about">- About Us</a></li>
                            <li><a href="/#menu">- Our Menu</a></li>
                        </ul>
                    </div>
                </div> 
            </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget-box list">
                        <h4 class="footer-widget-title">Donate To Our Feed The Family Project</h4>
                        <div class="footer-newsletter">
                            <p>Checkout Our Donation Campaign</p>
                            <div>    
                                <a href="https://gofund.me/7f42e3ef">
                                    <button class="theme-btn">
                                        <i class="far"></i> Donate Now
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 col-lg-12">
                    <div class="footer-widget-box list">
                        <h4 class="footer-widget-title">Newsletter</h4>
                        <div class="footer-newsletter">
                            <p>Subscribe To Our Newsletter To Get All Of Our Latest Updates And News</p>
                            <div class="subscribe-form">
                                <form action="/signup" method="post">
                                    <input type="email" class="form-control" placeholder="Your Email" name="email" required>
                                    <button class="theme-btn" type="submit">
                                        <i class="far fa-paper-plane"></i> Subscribe Now
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </div>
    <div class="footer-contact-info">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="contact-info-item contact-info-item1">
                        <span class="contact-info-icon"><i class="fal fa-envelope"></i></span>
                        <div class="me-5">
                            <h5>Email Us</h5>
                            <a href = "mailto: msp@mymixedpot.com"><p>msp@mymixedpot.com</p></a>
                            
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="contact-info-item">
                        <span class="contact-info-icon ms-5"><i class="fal fa-clock "></i></span>
                        <div>
                            <h5>Opening</h5>
                            <p>Mon - Sun (08AM - 9PM)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <!-- <div class="row">
                <div class="col-lg-6 align-self-center">
                    <p class="copyright-text">
                        &copy; Copyright <span id="date"></span> <a href="#"> Restora </a> All
                        Rights Reserved.
                    </p>
                </div>
                <div class="col-lg-6 align-self-center">
                    <ul class="footer-menu">
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Terms Of Services</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
</footer>
<!-- footer area end -->




<!-- scroll-top -->
<a href="#" id="scroll-top"><i class="far fa-long-arrow-up"></i></a>
<!-- scroll-top end -->


<!-- js -->
<script src="js/jquery-3.6.0.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/jquery.appear.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/counter-up.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/main.js"></script>

</body>

</html>