<div class="row filter-box popup-gallery">
    <div class="filter-item cat1" style="text-align: center;">
        <h1>Platters</h1>
        <p class="menu-subtitle">Mixed Pot Platter Specials All Served With Complimentary Honey Butter Cornbread And A Drink</p><p>Any Global Entree With Any 2 Global Sides</p>
    </div>
    <div class="col-md-6 filter-item cat1 mt-3">
        <div class="menu-item d-flex flex-column">
            <div class="menu-item-img">
                <h1>C</h1>
            </div>
           <div class="menu-content">
                <h5 class="menu-title">Curry Chicken</h5>
           </div>
           <div class="menu-price">
            <span>$23</span>
           </div>
        </div>
    </div>
    <div class="col-md-6 filter-item cat1 mt-3">
        <div class="menu-item d-flex flex-column">
            <div class="menu-item-img">
                <h1>T</h1>
            </div>
           <div class="menu-content">
                <h5 class="menu-title">Taylor's Oxytail</h5>
           </div>
           <div class="menu-price">
            <span>$35</span>
           </div>
        </div>
    </div>
    <div class="col-md-6 filter-item cat1 mt-1">
        <div class="menu-item d-flex flex-column">
            <div class="menu-item-img">
                <h1>B</h1>
            </div>
           <div class="menu-content">
                <h5 class="menu-title">Brown Stew Chicken</h5>
           </div>
           <div class="menu-price">
            <span>$22</span>
           </div>
        </div>
    </div>
    <div class="col-md-6 filter-item cat1 mt-1">
        <div class="menu-item d-flex flex-column">
            <div class="menu-item-img">
                <h1>C</h1>
            </div>
           <div class="menu-content">
                <h5 class="menu-title">Curry Goat</h5>
           </div>
           <div class="menu-price">
            <span>$26</span>
           </div>
        </div>
    </div>
    <div class="col-md-6 filter-item cat1 mt-1">
        <div class="menu-item d-flex flex-column">
            <div class="menu-item-img">
                <h1>K</h1>
            </div>
           <div class="menu-content">
                <h5 class="menu-title">Kathleen's Curry Shrimp</h5>
           </div>
           <div class="menu-price">
            <span>$29</span>
           </div>
        </div>
    </div>
    <div class="col-md-6 filter-item cat1 mt-1">
        <div class="menu-item d-flex flex-column">
            <div class="menu-item-img">
                <h1>F</h1>
            </div>
           <div class="menu-content">
                <h5 class="menu-title">Fried Chicken</h5>
           </div>
           <div class="menu-price">
            <span>$24</span>
           </div>
        </div>
    </div>
    <div class="col-md-6 filter-item cat1 mt-1">
        <div class="menu-item d-flex flex-column">
            <div class="menu-item-img">
                <h1>T</h1>
            </div>
           <div class="menu-content">
                <h5 class="menu-title">Turkey Wings</h5>
           </div>
           <div class="menu-price">
            <span>$22</span>
           </div>
        </div>
    </div>
    <div class="col-md-6 filter-item cat1 mt-1">
        <div class="menu-item d-flex flex-column">
            <div class="menu-item-img">
                <h1>F</h1>
            </div>
           <div class="menu-content">
                <h5 class="menu-title">2 Fried Catfish Fillet</h5>
           </div>
           <div class="menu-price">
            <span>$27</span>
           </div>
        </div>
    </div>
    <div class="col-md-12 filter-item cat1 mt-1">
        <div class="menu-item d-flex flex-column">
            <div class="menu-item-img">
                <h1>R</h1>
            </div>
           <div class="menu-content">
                <h5 class="menu-title">2 Of Errol's Roasted Beef Ribs (Brown Gravy Or BBQ Sauce)</h5>
           </div>
           <div class="menu-price">
            <span>$34</span>
           </div>
        </div>
    </div>