<%- include("header") -%>

<main class="main">

    <!-- breadcrumb -->
    <div class="site-breadcrumb" style="background: url(imgs/slider/img1.jpg)">
        <div class="container">
            <div>
                <h1>Newsletter Signup Was Successful</h1>
            </div>
            <div class="d-flex justify-content-center">
                <li class="text-center"><a class="nav-link" href="/contact"><button class="nav-item2"> Return To Home</button></a></li>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->

    </main>




   <%- include("footer") -%>